# Node dependencies
node_modules/
dist/

# Environment variables
.env
.env.*

# GCS keyfile
*.json

summary.txt

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
